*{
    padding: 0;
    box-sizing: border-box;

}
#hxh-id-header{
background-color: black;
text-align: center;
color: white;
display: grid;
grid-template-columns: 150px 1fr 1fr;
border-radius: 0 0 20px 20px;
justify-content: center;
justify-items: end;
}
.header-img-container{
height: 70px;
}

#idheader-figure-img{
    border-radius: 600px;
    height: 50px;
}