*{
    padding: 0;
    box-sizing: border-box;

}
#hxh-id-header{
background-color: black;
text-align: center;
color: white;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
border-radius: 0 0 20px 20px;
}

.header-img-container{
height: 70px;
align-items: left;
}

#idheader-figure-img{
    border-radius: 600px;
    height: 50px;
}

/*Inicio división Jefferson*/

#imagenizq{
    display: grid;
    grid-template-columns: 1fr;
}
#resumen{
    display: grid;
    grid-template-columns: 1fr;
    background-color: darkgray;
}
#titulomain{
    color: white;

}
#resumen{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1f 1fr;
}

/*Final división Jefferson*/